<!-- <div class="col">
    <div id="captcha" class="captcha" appCaptcha [requestCaptcha] = "generateCaptcha" [enteredCaptcha] = "captchaForDirective" (captcha)="newCaptcha($event)" (captchaResult)="captchaResultDirective($event)">{{captcha}}</div>
</div>
<br>
<div class="col">
    <button class="btn rounded btn-outline-dark" type="button" (click)="createCaptcha()">Generar nuevamente</button>
</div>  
<br>
<div class="input">
    <input type="text" name="reCaptcha" [maxlength]="6" id="reCaptcha" (ngModelChange)="onChange($event)" [(ngModel)]="enteredCaptcha" placeholder="Ingrese codigo">
</div>
-->

<div style="width: 200px;" class="my-3">
    <div class="row">
      <div class="col-12">
        <canvas #captchaCanvas width="150" height="50"></canvas>
      </div>
      <div class="col-4">
        <button class="btn rounded btn-primary" type="button" (click)="createCaptcha()">Cambiar</button>
      </div>
    </div>
    <div class="input">
      <input type="text" name="reCaptcha" [maxlength]="6" id="reCaptcha" (ngModelChange)="onChange($event)"
        [(ngModel)]="enteredCaptcha" placeholder="Ingresá el código" />
    </div>
</div>
<div id="errCaptcha" class="errmsg"></div>