<div class="col">
    <div id="captcha" class="captcha" appCaptcha [requestCaptcha] = "generateCaptcha" [enteredCaptcha] = "captchaForDirective" (captcha)="newCaptcha($event)" (captchaResult)="captchaResultDirective($event)">{{captcha}}</div>
</div>
<br>
<div class="col">
    <button class="btn rounded btn-outline-dark" type="button" (click)="createCaptcha()">Generar nuevamente</button>
</div>  
<br>
<div class="input">
    <input type="text" name="reCaptcha" [maxlength]="6" id="reCaptcha" (ngModelChange)="onChange($event)" [(ngModel)]="enteredCaptcha" placeholder="Ingrese codigo">
</div>