<div class="container">
    <div class="p-2 mb-2" style="width: 100%">
        <div *ngIf="patientsBySpecialist?.length > 0; else elseBlock">
            <div class="row">
                <div class="col-2" *ngFor="let patient  of patientsBySpecialist; let i=index">
                    <div class="card">
                        <img class="mx-auto"
                            src="{{(patient.photoURL) ? patient.photoURL : '/assets/common/profile-user.png'}}"
                            alt="{{patient.displayName}}"
                            style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title">Nombre: {{patient.displayName}}</h3>
                            <p class="card-text">Obra social: {{patient.insurance}}</p>
                            <p class="card-text">Edad: {{patient.age}}</p>
                            <p class="text-left">Ultimas citas:</p>
                            <ul>
                                <li >{{patient.appointmentDates[0]}}</li>
                                <li >{{patient.appointmentDates[1]}}</li>
                                <li >{{patient.appointmentDates[2]}}</li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#medicalHistoryModal" (click)="openMedicalHistory(patient.displayName)">Historia clinica</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <label class="btn btn-outline-danger">No hay pacientes que mostrar</label>
        </ng-template>
    </div>
</div>

<div class="modal fade" id="medicalHistoryModal" tabindex="-1" aria-labelledby="medicalHistoryModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div *ngIf="patientMedicalHistory != undefined ; else elseBlockMedicalHistory">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Historia clinica del paciente {{patientMedicalHistory.patient}}</h3>
                        <a class="btn btn-dark" (click)="download()">Descargar</a>
                    </div>
                    <hr>
                    <div>
                        <h4>Informacion de la ultima cita</h4>
                        <ul>
                            <li>Altura: {{patientMedicalHistory.height}} cm..</li>
                            <li>Peso: {{patientMedicalHistory.weight}} kg.</li>
                            <li>Temperatura: {{patientMedicalHistory.temp}}°C</li>
                            <li>Presion: {{patientMedicalHistory.pressure}} (media)</li>
                        </ul>
                    </div>
                    <hr>
                    <p>Historial de atencion con el especialista {{userData.displayName}}</p>
                    <div *ngFor="let appointment  of patientAppointments; let i=index">
                        <hr>
                        <ul>
                            <li>Fecha: {{appointment.date}}</li>
                            <li>Especialidad: {{appointment.specialty | specialties}}</li>
                            <li>Diagnostico: {{appointment.diagnosis}}</li>
                            <li>Observaciones: </li>
                                <ul>
                                    <li *ngFor="let info of appointment.observations | keyvalue">
                                        {{info.key}}: {{info.value}}
                                    </li>
                                </ul>
                            <li>Comentario de {{appointment.appointmentInfo}}</li>
                        </ul>
                    </div>
                </div>
                <ng-template #elseBlockMedicalHistory>
                    <label class="btn btn-outline-danger">No hay historia clinica para mostrar</label>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>