<div class="container">
    <div class="p-2 mb-2" style="width: 100%">
        <div *ngIf="patientsBySpecialist?.length > 0; else elseBlock">
            <div class="row">
                <div class="col-2" *ngFor="let patient  of patientsBySpecialist; let i=index">
                    <div class="card">
                        <img class="mx-auto"
                            src="{{(patient.photoURL) ? patient.photoURL : '/assets/common/profile-user.png'}}"
                            alt="{{patient.displayName}}"
                            style="width: 50%;">
                        <div class="card-body">
                            <h3 class="card-title">Nombre: {{patient.displayName}}</h3>
                            <p class="card-text">Obra social: {{patient.insurance}}</p>
                            <p class="card-text">Edad: {{patient.age}}</p>
                            <p class="text-left">Ultimas citas:</p>
                            <ul>
                                <li >{{patient.appointmentDates[0]}}</li>
                                <li >{{patient.appointmentDates[1]}}</li>
                                <li >{{patient.appointmentDates[2]}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <label class="btn btn-outline-danger">No hay pacientes que mostrar</label>
        </ng-template>
    </div>
</div>