<div class="container-fluid">
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 bg-light border rounded-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Usuarios</h1>
                    <label (click)="downloadData()" class="btn btn-dark">Descargar planilla de Usuarios</label>        
                </div>
                <hr>
                <button class="btn btn-dark" (click)="changeStyle()">Cambiar de estilo</button>
                <br>
                <br>
                <table *ngIf="!isCard" class="table" id="users-table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr appButtonEffect *ngFor="let user of users">
                            <td class="align-middle">{{user.name}}</td>
                            <td class="align-middle">{{user.lastName}}</td>
                            <td class="align-middle">{{user.dni}}</td>
                            <td class="align-middle">{{user.age}}</td>
                            <td class="align-middle">{{user.email}}</td>
                            <td class="align-middle">{{user.role | userType}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="menu" *ngIf="isCard">
                    <div class="row" *ngFor="let user of users">
                        <div class="column" (click)="downloadAppointments(user.displayName, user.role)">
                            <div class="card" appButtonEffect>
                                <img class="card-img-top" src="{{user.photoURL}}" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{user.name}}</h5>
                                    <p class="card-text">{{user.role | userType}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>